/* Site Variables */

$font-stack-serif: 'Playfair Display', serif;
$font-stack-sans: 'Open Sans', sans-serif;
$font-stack-sans-con: 'Open Sans Condensed', sans-serif;
$dark-color: #333;
$black : #000;
$med-dark-color: #535353;
$med-color: #969696;
$med-light-color: #f2f2f2;
$light-color: #fff;
$no-color: transparent!important;
$no-image: none!important;
$border-bottom: 1px solid #d7d7d7;
$btn-border-lt: 2px solid #fff;
$btn-border-dk:  2px solid #333;
$accent-color: #00703c;
$allcaps: uppercase;
$font-xs: 11px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$letter-spaced: .2em;
$grayscale20:  grayscale(20%);
$grayscale60:  grayscale(60%);

/* END Site Variables */
