/* Scss Document */

/*////////// TEMPLATE 1 /////////*/

/* CUSTOMIZE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.template1 .carousel {
  height: 80vh;
}
/* Since positioning the image, we need to help out the caption */
.template1 .carousel-caption {
	z-index: 10;
	bottom: 28vh;
}
.template1 .carousel-caption p{
	margin-bottom:10px
}
.template1 .carousel-caption .btn{
	margin:20px 0	
}
/* Declare heights because of positioning of img element */
.template1 .carousel .item {
  height: 80vh;
  background-color: $light-color;
}
.template1 .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 80vh;
}
.template1 .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.template1 .carousel-control.right {
    right: 0;
	left:auto
}
.template1 .carousel-control.left, .template1 .carousel-control.right {
	background: $no-color;
	background-image: $no-image;	
}
.template1 span.nc-icon-outline.arrows-1_minimal-left, .template1 span.nc-icon-outline.arrows-1_minimal-right {
	top:45%;
	position:absolute
}

@media (max-width:600px) {
.template1 .carousel-caption {
	z-index: 10;
	bottom: 10vh;
	right: 20%;
	left:20%;
}
.template1 .carousel-caption h1 {font-size:220%}
.template1 .right.carousel-control {right:10%}
}

@media (min-width:600px) and (max-width:992px) {
.template1 .carousel-caption {
	z-index: 10;
	bottom: 15vh;
}
.template1 .right.carousel-control {right:5%}
}


/*////////// END TEMPLATE 1 /////////*/



/*////////// TEMPLATE 2 /////////*/

/* CUSTOMIZE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.template2 .carousel {
  height: 50vh;
}
/* Declare heights because of positioning of img element */
.template2 .carousel .item {
  height: 50vh;
  background-color: $light-color;
}
.template2 .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50vh;
}
.template2 .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.template2 .carousel-control.right {
    right: 0;
	left:auto
}
.template2 .carousel-control.left, .template2 .carousel-control.right {
	background: $no-color;
	background-image: $no-image;	
}
.template2 span.nc-icon-outline.arrows-1_minimal-left, .template2 span.nc-icon-outline.arrows-1_minimal-right {
	top:45%;
	position:absolute
}

@media (max-width:600px) {
.template2 .right.carousel-control {right:10%}
}

@media (min-width:600px) and (max-width:992px) {
.template2 .right.carousel-control {right:5%}
}


/*////////// END TEMPLATE 2 /////////*/


/*////////// TEMPLATE 3 /////////*/

/* CUSTOMIZE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.template3 .carousel {
  height: 50vh;
}
/* Declare heights because of positioning of img element */
.template3 .carousel .item {
  height: 50vh;
  background-color: $light-color;
}
.template3 .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50vh;
}
.template3 .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.template3 .carousel-control.right {
    right: 0;
	left:auto
}
.template3 .carousel-control.left, .template3 .carousel-control.right {
	background: $no-color;
	background-image: $no-image;	
}
.template3 span.nc-icon-outline.arrows-1_minimal-left, .template3 span.nc-icon-outline.arrows-1_minimal-right {
	top:45%;
	position:absolute
}

@media (max-width:600px) {
.template3 .right.carousel-control {right:10%}
}

@media (min-width:600px) and (max-width:992px) {
.template3 .right.carousel-control {right:5%}
}


/*////////// END TEMPLATE 3 /////////*/


/*////////// TEMPLATE 4 /////////*/

/* CUSTOMIZE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.template4 .carousel {
  height: 70vh;
}
/* Since positioning the image, we need to help out the caption */
.template4 .carousel-caption {
	z-index: 10;
	bottom: 28vh;
}
.template4 .carousel-caption p{
	margin-bottom:10px
}
.template4 .carousel-caption .btn{
	margin:20px 0	
}
/* Declare heights because of positioning of img element */
.template4 .carousel .item {
  height: 70vh;
  background-color: $light-color;
}
.template4 .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 70vh;
}
.template4 .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.template4 .carousel-control.right {
    right: 0;
	left:auto
}
.template4 .carousel-control.left, .template4 .carousel-control.right {
	background: $no-color;
	background-image: $no-image;	
}
.template4 span.nc-icon-outline.arrows-1_minimal-left, .template4 span.nc-icon-outline.arrows-1_minimal-right {
	top:45%;
	position:absolute
}

@media (max-width:600px) {
.template4 .carousel-caption {
	z-index: 10;
	bottom: 10vh;
	right: 20%;
	left:20%;
}
.template4 .carousel-caption h1 {font-size:220%}
.template4 .right.carousel-control {right:10%}
}

@media (min-width:600px) and (max-width:992px) {
.template4 .carousel-caption {
	z-index: 10;
	bottom: 15vh;
}
.template4 .right.carousel-control {right:5%}
}


/*////////// END TEMPLATE 4 /////////*/

